    /* Style the form */
    #regForm {
        background-color: #ffffff;
        width: 100%;
        
    }
    .leftM{
        margin-left: 33%;
    }
    /* Style the input fields */
    input, select {
        font-size: 1em;
        color: #fff;
        padding: .5em 0em .5em 2em;
        margin: 0em 0 1em;
        outline: none;
        border: none;
        background: #002147;
        width: 100%;
        border-radius: 5px;
    }
   
    
    /* Mark input boxes that gets an error on validation: */
    input.invalid, select.invalid {
        border: 0px solid #ff0303;
        box-shadow: 1px 1px 10px  #ff0303 ;
    }
    
    /* Hide all steps by default: */
    .tab {
        display: none;
    }
    
    /* Make circles that indicate the steps of the form: */
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }
    
    /* Mark the active step: */
    .step.active {
        opacity: 1;
    }
    
    /* Mark the steps that are finished and valid: */
    .step.finish {
        background-color: #024704;
    }